#page-map {
  width: 100vw;
  height: 100vh;

  position: relative;
  display: flex;
}

#page-map aside {
  width: 440px;
  background: linear-gradient(to top, rgb(0, 162, 255) 0%, rgba(102, 233, 40, 0.529) 100%);
  padding: 80px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#page-map aside h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 42px;
  margin-top: 64px;
}

#page-map aside p {
  line-height: 28px;
  margin-top: 24px;
}

#page-map aside footer {
  display: flex;
  flex-direction: column;

  line-height: 24px;
}

#page-map aside footer strong {
  font-weight: 800;
}

#page-map .leaflet-container {
  z-index: 5;
}

#page-map .map-popup .leaflet-popup-content-wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  box-sizing: 20px;
  box-shadow: none;
}

#page-map .map-popup .leaflet-popup-content {
  color: #0089a5;
  font-size: 20px;
  font-weight: bold;
  margin: 8px 12px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

#page-map .map-popup .leaflet-popup-content a {
  width: 40px;
  height: 40px;
  background: linear-gradient(45deg, rgb(0, 162, 255) 0%, rgba(102, 233, 40, 0.529) 100%);
  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s;
}

#page-map .map-popup .leaflet-popup-content a:hover {
  background: linear-gradient(45deg, rgba(102, 233, 40, 0.529) 0%, rgb(0, 162, 255) 100%);
}

#page-map  .leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom .leaflet-control-container .leaflet-bottom.leaflet-right .leaflet-control-attribution.leaflet-control a {
  display: none;
}

#page-map .map-popup .leaflet-popup-tip-container {
  display: none;
}

#page-map .create-orphanage {
  position: absolute;
  right: 40px;
  bottom: 40px;

  z-index: 10;

  width: 64px;
  height: 64px;
  background: linear-gradient(45deg, rgb(0, 162, 255) 0%, rgba(102, 233, 40, 0.529) 100%);
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s;
}

#page-map .create-orphanage:hover{
  background: linear-gradient(45deg, rgba(102, 233, 40, 0.529) 0%, rgb(0, 162, 255) 100%);
}


@media (max-width: 650px) {
  #page-map aside {
    width: 185px;
    padding: 15px;
  }

  #page-map aside h2 {
    font-size: 26px;
    font-weight: 800;
    line-height: 28px;
  }
  
  #page-map aside p {
    line-height: 28px;
    margin-top: 24px;
  }
  
  #page-map aside footer {  
    line-height: 24px;
  }
  
  #page-map aside footer strong {
    font-weight: 800;
  }
}